<html>
  <head>
  $if $disableheader {}
  $else {
    <title>$title</title>
  }
  </head>
  <body>
    
  </body>
  <footer>
  $if $disablefooter {}
  $else {
    <br/>
    <br/>
    <br/>
    <center>[ <a href="/">Home</a> | <a href="../">Parent</a> | <a href="#">Top</a> ]</center>
  }
  </footer>
</html>
